html, body{
 
    color: black;
    background-image: url("assets/weather.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #cityList,.card{
    background-color: rgba(0,0,0,0)
  }

 